
    <h1>Scholar</h1>


@{ 
    ViewBag.Title = "Scholar.com";
}  

<div>
    <h3>Welcom to Scholar</h3><br />
                              <p>
                                  Bienvenu a tous sur le site de la revolution du suivi parental des eleves 
                                  , <br />cette application web a ete concue pour palier au manque du suivi de l'evolution,
                                  de nos enfants dans une ecole donnee, elle offres , un multitudes d'options <br />
                                  pour plus d'information  cliquer sur le button en bas
                              </p>
                              <input type="button" value="A propos" />
</div>
<br />
<div>
    <h3>Nos Ecoles</h3>
</div>
<div>
    <h3>Information</h3>
</div>
