
    <h1>Scholar</h1>


@{ 
    ViewBag.Title = "Scholar.com";
}  

<div>
    <a href="#">Home</a>
    <span><a href="#">Schools</a></span>
    <span><a href="#">Log In</a></span>
    <span><a href="#">Register</a></span>
    <span><input type="search" name="Search" value="SearchBarInput" /></span>
</div>
<div>
    <h3>Welcom to Scholar</h3>
</div>
<div>

</div>
