@*This partial view is for Navigation Bar *@

    <div>
        <a href="#">Home</a>
        <span><a href="#">Schools</a></span>
        <span><a href="#">Log In</a></span>
        <span><a href="#">Register</a></span>
        <span><input type="search" name="Search" placeholder="Type your search word here" /></span>
    </div>